{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey | trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">
                Please sign in
            </h1>

            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.remember_me) }}

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
