{% block collection_table %}
    <div data-controller="form-collection">
        <table class="table" data-form-collection-target="table">
            <thead>
            <tr>
                {% for field in form.children.0 %}
                    <th>{{ form_label(field) }}</th>
                {% endfor %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for field in form %}
                {{ form_row(field) }}
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            <button type="button" class="btn btn-secondary" data-action="click->form-collection#add">
                <i class="fe fe-plus" title="Add"></i>
                {{ text_add }}
            </button>
        </div>

        <template data-form-collection-target="prototype">
            {{ form_row(form.vars.prototype) }}
        </template>
    </div>
{% endblock %}

{% block collection_entry %}
    <tr>
        {% for field in form %}
            <td class="text-nowrap">
                {{ form_widget(field) }}
                {{ form_errors(form.name) }}
            </td>
        {% endfor %}
        <td class="text-nowrap w-1">
            {% if url_edit is not null %}
                <a class="btn btn-primary btn-edit"
                   data-action="click->modal#open"
                   data-modal-title-param="Edit"
                   href="{{ url_edit }}">
                    <i class="fe fe-edit" title="Edit"></i>
                </a>
            {% endif %}
            <button type="button"
                    class="btn btn-danger btn-delete"
                    data-action="click->form-collection#delete">
                <i class="fe fe-trash" title="Delete"></i>
            </button>
        </td>
    </tr>
{% endblock %}
