{% extends 'base-connected.html.twig' %}

{% block title %}Account {{ account.name }}{% endblock %}

{% block body_topbar %}
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid justify-content-end">
        <button type="button" class="btn btn-outline-secondary me-2">
            <i class="fe fe-plus" title="{% trans %}Add{% endtrans %}"></i>
            {% trans %}New charges{% endtrans %}
        </button>

        <button class="btn btn-outline-primary" form="chargegroup-form">
            <i class="fe fe-check" title="{% trans %}Save{% endtrans %}"></i>
            {% trans %}Save{% endtrans %}
        </button>
    </div>
</nav>
{% endblock %}

{% block body %}
    {{ form_start(form, { attr: { id: 'chargegroup-form' }}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.name) }}
            </div>
            <div class="col">
                {{ form_row(form.amount) }}
            </div>
        </div>

        {{ form_row(form.charges) }}
    {{ form_end(form, { render_rest: false }) }}
{% endblock %}
