{% set months = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
} %}

<div class="monthpicker"
     data-controller="monthpicker"
     data-monthpicker-month-label-value="{{ months[(date | date('m') | number_format)] }}"
     data-monthpicker-month-value="{{ date | date('m') }}"
     data-monthpicker-year-value="{{ date | date('Y') }}"
     data-monthpicker-active-class="active">
    <details>
        <summary data-monthpicker-target="summary"></summary>
        <div class="container">
            <div class="year-choices">
                <select data-monthpicker-target="yearSelect" data-action="change->monthpicker#changeYear">
                    {% for year in range(date | date('Y') - 5, date | date('Y') + 5) %}
                        <option data-monthpicker-target="year" value="{{ year }}">
                            {{ year }}
                        </option>
                    {% endfor %} %}
                </select>
            </div>
            <div class="month-choices">
                <div class="row">
                    {% for value, label in months %}
                        <div class="col-4">
                            <button data-action="click->monthpicker#changeMonth"
                                    data-monthpicker-target="month"
                                    data-monthpicker-label-param="{{ label }}"
                                    data-monthpicker-value-param="{{ value }}">
                                {{ label }}
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </details>
</div>
