{% block _account_chargeGroups_widget %}
    <div data-controller="form-collection">
        <table class="table" data-form-collection-target="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for chargeGroupForm in form %}
                {{ form_row(chargeGroupForm) }}
            {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" data-action="click->form-collection#add">
            <i class="fe fe-plus" title="Add"></i>
            New group
        </button>

        <template data-form-collection-target="prototype">
            {{ form_row(form.vars.prototype) }}
        </template>
    </div>
{% endblock %}

{% block _account_chargeGroups_entry_row %}
    <tr>
        <td class="text-nowrap">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </td>
        <td class="text-nowrap">
            {{ form_widget(form.amount) }}
            {{ form_errors(form.amount) }}
        </td>
        <td class="text-nowrap w-1">
            <a type="button"
               class="btn btn-primary btn-edit"
               href="#">
                <i class="fe fe-edit" title="Edit"></i>
            </a>
            <a class="btn btn-success btn-edit"
               data-toggle="modal"
               data-action="click->modal#open"
               data-modal-title-param="Manage charges"
               href="{{ path('app_account_charges', { account: 1 }) }}">
                <i class="fe fe-list-task" title="Manage charges"></i>
            </a>
            <button type="button"
                    class="btn btn-danger btn-delete"
                    data-action="click->form-collection#delete">
                <i class="fe fe-trash" title="Delete"></i>
            </button>
        </td>
    </tr>
{% endblock %}
